
@{

}
<!DOCTYPE html>
<html dir="rtl" lang="en">


<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="favicon.ico">
    @Styles.Render("~/assets/Afra.css")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600,700&amp;display=swap">
</head>
<body>
    <input id="AddressPicLogoDark" value="@Url.Content("~/assetsAfra/images/logo/logo-dark.png")" style="display: none" />
    <input id="AddressPicLogoLight" value="@Url.Content("~/assetsAfra/images/logo/logo-light.png")" style="display: none" />

    <!--====================================================================
            Start Header
            ====================================================================-->
    <header class="site-header sticky-header">
        <div class="container">
            <nav class="main-bar">
                <div class="logo" style="float: left;">
                    <a href="@Url.Action("MainPage", "BlogAPI_Designer")">
                        <img src="@Url.Content("~/assetsAfra/images/logo/logo-light.png")" alt="MCDM-Solver,MCDMSolver" />
                    </a>
                </div>
                <button class="button button-open-sidenav">
                    <span></span>
                </button>
                <ul class="menu">
                    <li>
                        <a href="@Url.Action("Index", "D_API")">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="#">نرم افزار</a>
                    </li>
                    <li>
                        <a href="#">خدمات</a>
                        <ul class="mega-menu">
                            <a href="#">خدمت یک</a>
                        </ul>
                    </li>
                    <li>
                        <a href="#">آموزش</a>
                    </li>
                    <li>
                        <a href="#">مطالب سایت</a>
                        <ul class="mega-menu">
                            @{ Html.RenderAction("AfraMaterPostsTypes", "D_API"); }

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("AboutUs", "D_API")">درباره ما</a>
                    </li>

                  


                    @*<li>
                            <a href="#">خدمات</a>
                            <ul class="mega-menu">
                                <li>
                                    <a href="services-1.html">خدمات سبک 1</a>
                                </li>
                                <li>
                                    <a href="services-2.html">خدمات سبک 2</a>
                                </li>
                                <li>
                                    <a href="services-single.html">خدمات بدون سایدبار</a>
                                </li>
                                <li>
                                    <a href="services-single-left-sidebar.html">تک خدمات  سایدبار چپ</a>
                                </li>
                                <li>
                                    <a href="services-single-right-sidebar.html">تک خدمات سایدبار راست</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">نمونه کار</a>
                            <ul class="mega-menu">
                                <li>
                                    <a href="portfolio-1.html">نمونه کار 1</a>
                                </li>
                                <li>
                                    <a href="portfolio-2.html">نمونه کار 2</a>
                                </li>
                                <li>
                                    <a href="portfolio-3.html">نمونه کار 3</a>
                                </li>
                                <li>
                                    <a href="portfolio-4.html">نمونه کار 4</a>
                                </li>
                                <li>
                                    <a href="portfolio-5.html">نمونه کار 5</a>
                                </li>
                                <li>
                                    <a href="portfolio-6.html">نمونه کار 6</a>
                                </li>
                                <li>
                                    <a href="portfolio-detail.html">جزئیات نمونه کار</a>
                                </li>
                            </ul>
                        </li>*@

                    <li>
                        <a href="@Url.Action("ContactUs", "D_API")">تماس با ما</a>
                    </li>
                    <li>
                        <a href="#">عضویت</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--====================================================================
    End Header
    ====================================================================-->
    <!--====================================================================
    Start Responsive Header
    ====================================================================-->
    <div class="site-sidenav">
        <div class="sidenav-menu">
            <div class="logo">
                <img src="@Url.Content("~/assetsAfra/images/logo/logo-dark.png")" alt="MCDM-Solver,MCDMSolver">
            </div>
            <button class="button button-circle button-close-sidenav"></button>
            <ul class="menu">
                @*<i class="fa fa-chevron-right"></i>*@
                <li class="">
                    <a href="@Url.Action("MainPage", "BlogAPI_Designer")">
                        صفحه اصلی

                    </a>

                </li>
                <li>
                    <a href="#">نرم افزار</a>
                </li>
                <li class="has-menu">
                    <a href="#">
                        خدمات
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <ul class="mega-menu">
                        <a href="#">خدمت یک</a>
                    </ul>
                </li>
                <li>
                    <a href="#">آموزش</a>
                </li>
                <li class="has-menu">
                    <a href="#">
                        مطالب سایت
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <ul class="mega-menu">
                        @{ Html.RenderAction("AfraMaterPostsTypes", "D_API"); }
                    </ul>
                </li>
                <li>
                    <a href="#">درباره ما</a>
                </li>

                <li>
                    <a href="#">تماس با ما</a>
                </li>
                <li>
                    <a href="#">عضویت</a>
                </li>
            </ul>
        </div>
    </div>
    <!--====================================================================
    End Responsive Header
    ====================================================================-->


    @RenderBody()
    <!--====================================================================
    Start Footer
    ====================================================================-->
    <footer class="site-footer overlay-image overlay-color" style="background-image: url('@Url.Content("~/assetsAfra/images/footer.jpg")')">
        <span class="bg-color bg-dark-80"></span>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="widget">
                            <div class="widget-head">
                                <h4 class="widget-title">درباره ما</h4>
                                <div class="divider divider-line"></div>
                            </div>
                            <div class="widget-body">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="widget">
                            <div class="widget-head">
                                <h4 class="widget-title">تماس با ما</h4>
                                <div class="divider divider-line"></div>
                            </div>
                            <div class="widget-body">
                                <ul class="footer-link">
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        info@afracodestudio.com
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        support@afracodestudio.com
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        777-555-2222
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        888-444-2222
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="widget">
                            <div class="widget-head">
                                <h4 class="widget-title">خبرنامه</h4>
                                <div class="divider divider-line"></div>
                            </div>
                            <div class="widget-body">
                                <p>با عضویت در خبرنامه ما از جدید ترین اخبار سایت مطلع شوید.</p>
                                <div class="form-item">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" class="input" placeholder="وارد کردن ایمیل">
                                    <button type="submit" class="button button-circle button-primary">
                                        <i class="fa fa-send"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright">TshpPortal v-0.0.0.1 Beta </p>
        </div>
    </footer>
    <!--====================================================================
    End Footer
    ====================================================================-->
    <!--====================================================================
    Start Scroll To Up
    ====================================================================-->
    <div class="scroll-up">
        <i class="fa fa-angle-up"></i>
    </div>
    <!--====================================================================
    End Scroll To Up
    ====================================================================-->
    @Scripts.Render("~/bundles/Afra.js")
</body>


</html>
