@using ShoppingCMS_V002.Models
@model List<TableModel>
@{
    ViewBag.Title = "SCV_table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--START : TBLS-->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                دسته بندی های اصلی ثبت شده
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        <!--begin::Section-->
        <div class="kt-section">
            <span class="kt-section__info">
                لیست تمامی دسته بندی های اصلی را در جدول زیر میتوانید مشاهده کنید.
            </span>
            <div class="kt-section__content">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام ویژگی</th>
                            <th>نام جزئیات</th>
                            <th>اقدامات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@item.Num</th>
                            <td id="IdItem" style="display:none">@item.Id</td>
                            <td>@item.Group2</td>
                            <td>@item.Group1</td>
                            
                            <td>
                                <div class="btn-group mr-2" role="group" aria-label="...">

                                   
                                        <button style="border:none" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#PandaDeletModal" onclick="modalloader('@item.Group1','@item.Id')"><i class="la la-trash"></i></button>
                                            <button style="border:none" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#PandaedittModal" onclick="modalloader('@item.Group1','@item.Id')"><i class="la la-edit"></i></button>
                                    

                                </div>


                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--end::Section-->
    </div>
    <!--end::Form-->
</div>
<!--END : TBLS-->
